# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\santi\OneDrive\Documentos\UNIVERSIDAD SEMESTRE 2021.1\MODELOS DE PROGRAMACION II\Individual\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
